@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

/* --- GLOBAL STYLES --- */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, serif;
	color: #333;
}

.container{
	width: 50%;
	margin: 10% auto;
	text-align: center;
}

h3{
	font-weight: 400;
}

/* --- SECTIONS --- */

#switches {
	margin-top: 15%;
}

#switches li {
	margin: 20px;
	display: inline-block;
}

#switches a:link, a:visited {
	text-decoration: none;
	color: #9c8844;
}

#switches a:hover {
	border-bottom: 3px solid #9c8844;
}